body {
    margin: 0%;
    font-family:  'Courier New', Courier, monospace;
}

h1 {
    text-align: center;
    font-size: 35px;
    animation: pulsate 0.11s ease-in-out infinite alternate;   

}

h3 {
    font-size: 30px;
    font-family:  'Courier New', Courier, monospace;
    margin: none;
}

h4 {
    font-size: 20px;
    font-family:  'Courier New', Courier, monospace;
    margin: none;
}

a{ 
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 15px;

}

a:hover {
    color: rgb(181, 181, 181);
}

#topp {
    background: linear-gradient(-45deg, #52eecc, #119e16, #17408a, #01e833);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
    width: 60vw;
    border-bottom: solid rgb(255, 255, 255) 3px;
    display: flex;
    align-items: center;
    height: 15vh;

}

#home {
    margin-left: 2%;
}

#home > a{
    font-size: 25px;

}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

#waldo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#snake {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#hjemmeside {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#info {
    margin-top: 3vh;
    font-size: 30px;
    font-weight: bold;
    color: whitesmoke;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 3vh;

}

#kilder {
    margin-top: 3vh;
    font-size: 30px;
    font-weight: bold;
    color: whitesmoke;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}


.neonHeader {
    display: flex;
    align-items: center;
    font-size: 35px;
    font-weight: bold;
    color: #fff;
    margin-left: auto;
    margin-right: auto;

}

#parent {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60vw;
    margin-left: auto;
    margin-right: auto;
    background: rgb(0,176,212);
    background: linear-gradient(90deg, rgba(33,230,100,1) 0%, rgba(0,176,212,1) 100%);
    border: solid black;
}

#midt {
    display: flex;
    justify-content: space-between;
}

img {
    height: 20vh;
    -webkit-mask-image: linear-gradient(45deg,#343434 25%,rgba(173, 173, 173, 0.5) 50%,#bfbfbf 75%);
    mask-image: linear-gradient(45deg,#f5f5f5 25%,rgba(239, 239, 239, 0.634) 50%,#d5d5d5 75%);
    -webkit-mask-size: 800%;
    mask-size: 800%;
    -webkit-mask-position: 0;
    mask-position: 0;
    margin: 2vw;
    }


img:hover {
    height: 25vh;
    cursor: pointer;
    transition: mask-position 2s ease,-webkit-mask-position 2s ease;
    -webkit-mask-position: 120%;
    mask-position: 120%;
    opacity: 1;
    
}



