@font-face {
    font-family: TimesSans;
    src: url(Times_Sans.ttf);
}

body{
    background-image: url("bilder/landingpageBackground.png");
    display: flex;
    flex-direction: column;
    align-items: center;
}

#landing{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1%;
    background-color: white;
    height: 100%;
    width: 55vw;
    border: solid black 5px;
}

#topp {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right: auto;
    margin-left: 10%;
}

#toppChild{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    width: 55%;

}

#middle {
    display: flex;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-size: 30px;
    font-family: TimesSans;
}

h2 {
    font-size: 25px;
    font-family: TimesSans;
}

#home{
    margin-top: 4vh;
    margin-bottom: 2vh;
    display: flex;
    align-items: flex-start;
    flex-direction: row;

}

#home > a{
    font-family: TimesSans;
    color: #00aeef;
    text-decoration: none;
    font-size: 20px;
    margin-right: 50% ;
}




#logo > img{
    height: 200px;

}

#info{
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 90%;
    text-align: center;

}

#topp > p {
    margin-top: -10px;
}

#difficulty {
    display: flex;
    align-items: center;
    flex-direction: column;

}

#startGame {
    margin-top: 2%;
    font-size: 40px;
    font-family: TimesSans;
    border: solid black 2px;
    padding: 10px;
    margin-bottom: 10%;
}

#startGame:hover{
    cursor: pointer;
    background-color: #00aeef;
}

p {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

@media(max-width: 700px){


    #landing{
        width: 80%;
    }
}