body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin: 0px;
    background-color: whitesmoke

}



#home > a {
    text-decoration: none;
    color: white;
}

#board {
    margin-top: -57vh;
}

#boardOff {
    margin-top: -200vh;
    opacity: 0%;
    height: 10px;
}

#score{
    margin: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;

}

.navbar{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    height: 9vh;
    background-color: limegreen;
    color: whitesmoke ;
    text-align: center;
}

#navSnake {
    display: flex;
    align-items: center;
    margin-left: 5vw;
}

#parent {
    margin-left: 30vw;
    margin-right: 30vw;
    margin-top: 2vh;
    margin-bottom: 2vh;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

#fruit{
    height: 20px;
}


#difficulty {
    padding: 3px;
}

#settings:hover {
    cursor: pointer;
}


.parentSettings {
    width: 500px;
    height: 500px;
    background-color: rgba(12, 242, 12, 0.15);
    margin-left: auto;
    margin-right: auto;

    opacity: 100%
}

.parentSettingsOff > div{
    opacity: 0%;
}

#parentSettingTop {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: limegreen;
}

#settingsHeader{
    margin-top: 5%;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 24px;

}

#settingsChoose {
    margin-top: 10vh;
}

#settingsChoose > div {
    margin-top: 5vh;
    border: solid black 1px;
    padding: 5px;
    color: white;

}

#settingsChoose > div:hover {
    cursor: pointer;
}

#close {
    margin-right: 5%;
}

#close:hover{
    cursor: pointer;
}

#easy {
    background-color: rgb(0, 198, 0);
}

#easy:hover {
    background-color: rgb(0, 139, 0);
}

#medium {
    background-color: rgb(255, 180, 40);
}

#medium:hover {
    background-color: rgb(164, 115, 25);
}

#hard {
    background-color: rgb(255, 0, 0);
}

#hard:hover {
    background-color: rgb(156, 5, 5);
}

#i_hard {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #8c585f, #c506ff);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;

}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

#controller {
    display: grid;

}

#controller > div > button {
    padding: 1%;
}

#controller > div > button:active {
    background-color: limegreen;
}




@media(max-width: 980px) {
    #parent {
        margin-left: 20vw;
        margin-right: 20vw;
        margin-top: 2vh;
        margin-bottom: 2vh;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
    }

    
}


@media(max-width: 870px) {

    #parent {
        margin-left: 20vw;
        margin-right: 20vw;
        margin-top: 2vh;
        margin-bottom: 2vh;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .navbar{
        width: 100%;
    }

    #board {
        margin-top: -50vh;
    }
    
    
}

@media(min-height: 800px){
    #board {
        margin-top: -40vh;
    }
    

}

@media(max-width: 480px) {

    #parent {
        margin-left: 3vw;
        margin-right: 3vw;
        margin-top: 2vh;
        margin-bottom: -4vh;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .navbar{
        width: 100%;
    }
    .parentSettings {
        width: 100vw;
        height: 100vw;
        background-color: rgba(12, 242, 12, 0.15);
        margin-left: auto;
        margin-right: auto;
    
        opacity: 100%
    }

    #controller > div > button {
        padding: 5%;
    }
    


    
    
}